* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;
  
  --bg-intro: url(../assets/Background_Intro.png);
  --bg-final: url(../assets/Background_Contacts.png);
  --red: #E3646E ;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;

  --font-family-title: "Asap", sans-serif;
  --font-family-subtitle: "Inconsolata", monospace;
  --font-family-text: "Maven Pro", sans-serif;
  
  --title-lg: 700 56px/120% var(--font-family-title);
  --title-md: 700 24px/120% var(--font-family-title);
  --title-sm: 700 16px/120% var(--font-family-title);

  --subtitle: 400 20px/120% var(--font-family-subtitle);   
   
  --text-md: 400 16px/140% var(--font-family-text);
  --text-sm: 400 14px/140% var(--font-family-text);
                  
}

body{
  color: var(--gray-100);
  background-color: var(--gray-500);
  align-items: center;
  position: relative;
  justify-content: center;

}


h1 {
  font: var(--title-lg);
}

h2{
  font: var(--title-md);
}

h3{
  font: var(--title-sm);
}

.subtitle {
  font: var(--subtitle);
}

p1{
  font: var(--text-md);
}

p2{
  font: var(--text-sm);
  color: var(--gray-300);
}
.red {
  color: var(--red);
}

.purple {
  color: var(--purple);
}

.container{
  max-width: cover;
  max-height: cover;
  margin-inline: auto;
  padding-bottom: 80px;
  display: flex;

}

#profile {
  position: relative;
  text-align: center;
  padding: 32px;
  width: fit-content;
  margin: 0 auto;
}
img {
  max-width: 100%;
}


#profile img{
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
  border: 2.5px solid var(--red);
}


.arrow{
  margin-top: auto;
  margin-bottom: 20px;
  padding: 94px;
  text-align: center;
}

main {
  text-align: center;
  padding: 120px; 
}

#works{
  padding: 56px;
}

