#works {
  img {
  width: 305px;
  height: 156px;
  object-fit: cover;
  border-radius: 8px;

  }

  .card{
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    height: 280px;
    width: 330px;
    background-color: var(--gray-400);
    padding: 16px;
  
    &::before{
      content: "";
      position: absolute;
      inset: 0;
      top: 70%;
      background-color: var(--gray-400);
      
    }

    figcaption {
      position: absolute;

      
      padding: 4px;
      text-align: left;
      h3{
        margin-top: 8px;
        margin-bottom: 6px;
      }
    }
  }
}

#services{
  padding: 160px;
  background-color: var(--gray-600);
  position: relative;
  box-shadow: 0 0 0 100vmax var(--gray-600);
  clip-path: inset(0 -100vmax);
  
 
  .card{
    
    position: relative;
    
    height: 155px;
    width: 280px;
    background-color: var(--gray-600);
    padding: 16px;
    border: 2px solid var(--gray-500);
    border-radius: 12px;
    display: flex;
    flex-direction: column; /* Alinha os itens em coluna (um abaixo do outro) */
    justify-content: flex-start; /* Alinha tudo no topo */
    align-items: flex-start;    /* Alinha tudo à esquerda */
   gap: 16px; /* Cria o espaço automático entre o ícone e o texto */
    }

    figcaption {
      display: flex;
  flex-direction: column;
  gap: 8px; /* Espaço entre o título (h3) e o parágrafo (p) */
      svg{
      width: 44px;
      height: 44px; /* Ajustado para ser proporcional */}
      h3{
        margin: 0;
        color: white;
        font-size: 1.25rem;
      } 
      p2 {
    margin: 0;
    color: var(--gray-300); /* Cor mais clara para o subtítulo */
    font-size: 0.875rem;
}
  }
}

#contacts{
  background-image: url(../assets/Background_Intro.png);
  background-size: cover;
  justify-content: center;
  text-align: center;
  padding-top: 120px; 
  padding-bottom: 200px;
a {
  text-decoration: none;
  color: inherit;
}
  figure{
    padding: 50px;
    

    .card-contacts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 400px;  
    height: 68px;       
    background-color: var(--gray-400); 
    padding: 20px;
    transition: background 0.3s;
    border-radius: 8px;
    cursor: pointer;
      
    svg{
      display: flex;
  align-items: center;
      
      gap: 16px;
    }
    span{
        display: block;
        background-image: url(../assets/icons/ArrowUpRight.svg);
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      }
    
  }
}
